@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    width: 75%;
    text-align: center;
    
}

.header h1 {
    text-transform: uppercase;
}

.image-container {   
    clip-path: circle(50% at 50% 50%);
    background-image: url('../img/profile1.jpg');
    background-size: cover;
    background-position: center;
    height: 450px;
    width: 450px;
    margin: 2rem auto;  
}

.navigation ul li {
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    font-size: 2rem;
    padding: 1rem;
    width: 16rem;
    margin: 3rem 0;
}

.navigation ul li:not(:last-child) {
    margin-right: 6rem;
}


.main-container {
    margin: 0 auto;
    width: 75%;
}

.main-container div {
    margin-bottom: 2rem;
}

.main-container h1 {
    margin-bottom: 5rem;
}

.main-container p {
    text-align: justify;
}

.footer {
    font-size: 2rem;
    padding: 2rem;
}

.footer ul {
    list-style: none;
    margin-bottom: 3rem;
}

.footer ul li {
    display: inline-block;
    margin: 2rem;
}

.footer ul a {
    color: #777;
    text-decoration: none;
}


@media (min-width: 480px) {
    /*muuda image-container taustapilti*/
    /*muuda dokumendi taustavärvi*/
    /*muuda dokumendi tekstivärvi*/
    /*ära unusta ka raamjoonesid*/

    .container {
        width: 100%;
        background-color: rgb(111, 138, 183);
        color: cornsilk;
    }

    .image-container {   
        clip-path: circle(50% at 50% 50%);
        background-image: url('../img/profile1.jpg');
        background-size: cover;
        background-position: center;
        height: 450px;
        width: 450px;
        margin: 2rem auto;  
    }
    

    .navigation ul li {
        display: block;
        font-size: 1rem;
        margin: 0;
        width: 100%;
        border: 1px solid cornsilk;
    }
    .navigation ul li:not(:last-child) {
        border-bottom: none;
    }
    

    .main-container {
        padding: 0.75rem;
        width: 100%;
    }

    .main-container h1 {
        margin: 1rem auto;
    }

    .footer ul a {
        color: cornsilk;
    }
    
}


@media (min-width: 768px) {

    /*muuda image-container taustapilti*/
    /*muuda dokumendi taustavärvi*/
    /*muuda dokumendi tekstivärvi*/
    /*ära unusta ka raamjoonesid*/


    .container {
        width: 100%;
        background-color: rgb(231, 239, 197);
        color: rgb(65, 60, 88);
    }

    .image-container {   
        clip-path: circle(50% at 50% 50%);
        background-image: url('../img/profile2.jpg');
        background-size: cover;
        background-position: center;
        height: 450px;
        width: 450px;
        margin: 2rem auto;  
    }

    .navigation ul li {
        display: block;
        font-size: 1rem;
        margin: 0;
        width: 100%;
        border: 1px solid rgb(65, 60, 88);
    }

    .footer ul a {
        color: rgb(65, 60, 88);
    }
}


@media (min-width: 1024px){
        
    /*muuda image-container taustapilti*/
    /*muuda dokumendi taustavärvi*/
    /*muuda dokumendi tekstivärvi*/
    /*ära unusta ka raamjoonesid*/

    .container {
        width: 100%;
        background-color: rgb(188, 108, 37);
        color: rgb(254, 250, 224);
    }

    .image-container {   
        clip-path: circle(50% at 50% 50%);
        background-image: url('../img/profile3.jpg');
        background-size: cover;
        background-position: center;
        height: 450px;
        width: 450px;
        margin: 2rem auto;  
    }

    .navigation ul li {
        display: block;
        font-size: 1rem;
        margin: 0;
        width: 100%;
        border: 1px solid rgb(254, 250, 224);
    }

    .footer ul a {
        color: rgb(254, 250, 224);
    }
}


@media (min-width: 1200px){


    /*muuda image-container taustapilti*/
    /*muuda dokumendi taustavärvi*/
    /*muuda dokumendi tekstivärvi*/
    /*ära unusta ka raamjoonesid*/
    .container {
        width: 100%;
        background-color: rgb(255, 214, 10);
        color: rgb(0, 29, 61);
    }

    .image-container {   
        clip-path: circle(50% at 50% 50%);
        background-image: url('../img/profile4.jpg');
        background-size: cover;
        background-position: center;
        height: 450px;
        width: 450px;
        margin: 2rem auto;  
    }


    .header h1 {
        margin: 3rem auto;
    }
    .navigation ul li {
        display: inline-block;
        width: 16rem;
        border: 1px solid rgb(0, 29, 61);
    }
    
    .navigation ul li:not(:last-child) {
        border-bottom: 1px solid rgb(0, 29, 61);
        margin-right: 4rem;
    }

    .main-container {
        width: 75%;
    }

    .footer ul a {
        color: rgb(0, 29, 61);
    }

}


